USE [master]
GO
/****** Object:  Database [DO_AN]    Script Date: 23/04/2025 3:48:12 CH ******/
CREATE DATABASE [DO_AN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DO_AN', FILENAME = N'D:\SQL_MSS2022\DO_AN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DO_AN_log', FILENAME = N'D:\SQL_MSS2022\DO_AN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DO_AN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DO_AN]
GO
/****** Object:  Table [dbo].[Đặt_Vé]    Script Date: 23/04/2025 3:48:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Đặt_Vé](
	[ma_ve] [nchar](10) NOT NULL,
	[ma_nguoi_dung] [nchar](10) NULL,
	[ma_chieu] [nchar](10) NULL,
	[thoigiandat] [datetime] NULL,
	[soluong] [int] NULL,
	[tong_tien] [money] NULL,
 CONSTRAINT [PK_Đặt_Vé] PRIMARY KEY CLUSTERED 
(
	[ma_ve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 23/04/2025 3:48:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[ma_nguoi_dung] [nchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[taikhoan] [nchar](10) NULL,
	[matkhau] [nchar](10) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 23/04/2025 3:48:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[ma_phim] [nchar](10) NOT NULL,
	[tenphim] [nvarchar](50) NULL,
	[theloai] [nvarchar](50) NULL,
	[thoiluong] [int] NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[ma_phim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rạp_Phim]    Script Date: 23/04/2025 3:48:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rạp_Phim](
	[ma_rap] [nchar](10) NOT NULL,
	[tenrap] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rạp_Phim] PRIMARY KEY CLUSTERED 
(
	[ma_rap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suất_Chiếu]    Script Date: 23/04/2025 3:48:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suất_Chiếu](
	[ma_chieu] [nchar](10) NOT NULL,
	[ma_phim] [nchar](10) NULL,
	[ma_rap] [nchar](10) NULL,
	[ngaychieu] [date] NULL,
	[giobatdau] [time](7) NULL,
	[gia] [money] NULL,
	[doanh_thu] [money] NULL,
 CONSTRAINT [PK_Suất_Chiếu] PRIMARY KEY CLUSTERED 
(
	[ma_chieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Suất_Chiếu] ADD  DEFAULT ((0)) FOR [doanh_thu]
GO
ALTER TABLE [dbo].[Đặt_Vé]  WITH CHECK ADD  CONSTRAINT [fk_datve_nguoidung] FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[Đặt_Vé] CHECK CONSTRAINT [fk_datve_nguoidung]
GO
ALTER TABLE [dbo].[Đặt_Vé]  WITH CHECK ADD  CONSTRAINT [fk_datve_suatchieu] FOREIGN KEY([ma_chieu])
REFERENCES [dbo].[Suất_Chiếu] ([ma_chieu])
GO
ALTER TABLE [dbo].[Đặt_Vé] CHECK CONSTRAINT [fk_datve_suatchieu]
GO
ALTER TABLE [dbo].[Suất_Chiếu]  WITH CHECK ADD  CONSTRAINT [fk_suatchieu_phim] FOREIGN KEY([ma_phim])
REFERENCES [dbo].[Phim] ([ma_phim])
GO
ALTER TABLE [dbo].[Suất_Chiếu] CHECK CONSTRAINT [fk_suatchieu_phim]
GO
ALTER TABLE [dbo].[Suất_Chiếu]  WITH CHECK ADD  CONSTRAINT [fk_suatchieu_rap] FOREIGN KEY([ma_rap])
REFERENCES [dbo].[Rạp_Phim] ([ma_rap])
GO
ALTER TABLE [dbo].[Suất_Chiếu] CHECK CONSTRAINT [fk_suatchieu_rap]
GO
USE [master]
GO
